//background-image: "background.jpg"
$background-image: "background.jpg"
$background-color: black

$box-color: #EEE
$box-border-rounded: false

$name-color: black
$name-size: 47px
$name-font: Raleway

$title-color: #747e80
$title-size: 14px
$title-font: Ubuntu
$title-weight: 400

$text-color: #747e80
$text-size: 14px
$text-font: Ubuntu

$link-color: #f2583e
$link-hover-color: #f2583e

